services:
  postgres:
    image: postgres:16.1-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - shakederoy_database:/var/lib/postgresql/data
    restart: always
    expose:
      - "5432"
    ports:
      - '5432:5432'

volumes:
  shakederoy_database:
