name: Deploy Backend

on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy backend
        run: curl -X POST ${{ secrets.DEPLOYMENT_HOST }}/compose.redeploy 
          -H "Content-Type: application/json" 
          -d '{"composeId":"${{ secrets.COMPOSE_ID }}","title":"osef","description":"osef"}'